<div
  id="currently-container"
  class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12"
>
  <h2 class="text-2xl font-bold text-gray-900 mb-6">En ce moment</h2>
  <div
    id="products-container"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
  >
   
     
  <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-64" src="./assets/images/Products/Apple-iPhone-15-6-1-5G-Double-SIM-128-Go-Rose.jpg" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Apple iPhone 15 6,1" 5G Double SIM 128 Go Rose</h5>
    </div>
</a>


   
   
  </div>
</div>
